/* custome style for task [113568] Adjust interface ecommerce homepage */

.o_my_status_table{
    /* for adjustment table at my order */
    table-layout: auto;
}
header .navbar-default .navbar-collapse {
    width: 100%;
    float: left;
    background: #ffffff;
    margin-top: 34px !important;
}
 .banner{
    width: 100%;
    height: 100%;
}

.banner_sub{
    width: 100%;
    height: 100%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > {
    color: #555555;
    background-color: #fff;
    /* border: none; */
    /* border-bottom-color: transparent; */
    cursor: default;
    border-radius: unset;
    height: 42px;
    width: fit-content;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    /* border: 1px solid transparent; */
    border-radius: unset;
    /* border-right: 1px solid #ddd !important; */
    padding:5px;
}

.nav > li > a{
    position: relative;
    display: block;
    padding: 8px;
    height: 100%;

}

/* style setting tabs slider */

/* style slider category */

.box_category{
    margin: 15px;
    color: #ffffff;
    padding: 10px;
}
.s_slider_category{
    background-color: #ecf0f1;
}

.tab-content>.tab-pane {display: block;visibility: hidden;}
.tab-content>.tab-pane.active {visibility: visible;}
.tab-content{position: relative;}
.tab-pane:not(:first-child){position: absolute;width: 100%;height: 100%;top: 0;left: 0;}


.ptop{
    padding-top: 10px;
}

.pbottom{
    padding-bottom: 10px;
}

.slick-slider .slick-slide{

    justify-content: center;
    align-items: center;
}

li.active >a > p.text_tabs{
    color: #000000;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    margin: 0px;
}
.box_category > a {
    color: #ffffff;
}

.box_category > a:hover {
    color: #337ab7;
}

.text_tabs{
    /* background-color: #e60303; */
    color: #fff;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    margin: 0px;
    font-weight:bold;
}
#text_tabs{
    padding-left: 7px;
}
#slide_tab{
    /* padding-top: 20px; */
}
.s_banner_homepage{
    padding-top: 20px;
    padding-bottom: 10px;
}
.s_slider_tab{
    padding-top: 10px;
    padding-bottom: 10px;
}

.s_slider_category{
    padding-top: 10px;
    padding-bottom: 10px;
}

.s_slider_multiple_category{
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-tab{
    padding-right: 10px;
    padding-top: 10px;
}
.card-header{
    border: 1px solid #6f6a6a40;
}

.header_slider_2{
    padding-left: 0px;
    padding-right: 3px;
    padding-top: 6px;
}

.header_slider_3{
    padding-right: 0px;
    padding-left: 7px;
    padding-top: 15px;
}

#banner_slider{
    /* padding-top: 15px; */
}
hr{
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.btn_slider{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.web_blog_slider{
    background-color: #ffffff;
}

.title_blog{
    color: #ffffff;
    text-transform: uppercase;
}
.section-post-excerpt{
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}

.seaction-head{
    padding: 0px !important;
}

.as-latest-blog {
    padding: 20px 0 !important;
}

.as-latest-blog .carousel {
    padding: 20px 0px 30px !important;
}
.as-latest-blog .section-post .section-post-media{
    height: 220px;
}

.section-post-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (min-width: 320.00px)
{
    .troli{
      margin-left: -40px;
    }
    .button_prev_next{
        left: -12px;
        float: right;
        position: absolute;
        display: flex;
        margin: 5px;
        bottom: -35px;
    }


    .slick-arrow{
        display: block;
        text-align: center;
        background: #e2dbdb;
        padding: 5px;
        height: 30px;
        width: 30px;
        margin: 5px;
    }
    .menu_tabs{
        white-space: nowrap;
        overflow-y: hidden;
        /* max-height: 38px; */
        display: flex
    }

    h5{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title_product{
        margin-top: 10px;
        /* white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
        line-height: 1.5em;
        height: 3em;
        overflow: hidden;
        font-size: xx-small;
    }
    .price{
        font-size: xx-small;
        color:red;
    }

    .box_slider_satu{
        height: 220px !important;
        /* max-width: 793px; */
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box_slider_sub{
        height: 120px;
        /* max-width: 793px; */
        background-repeat: no-repeat;
        background-size: cover;
        align-content: center;
    }

    .header_slider_2{
        padding-left: 0px;
        padding-right: 3px;
        padding-top: 6px;
    }

    .header_slider_3{
        padding-right: 0px;
        padding-left: 3px;
        padding-top: 6px;
    }
}

@media (min-width: 768.00px)
{
    .button_prev_next{
        right: 0px;
        float: right;
        position: absolute;
        top: -45px;
        display: flex;
        margin: 5px;
        left: unset;
    }

    .title_product{
        margin-top: 10px;
        /* white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
        line-height: 1.5em;
        height: 3em;
        overflow: hidden;
        font-size: inherit;
    }
    .price{
        font-size: inherit;
        color:red;
    }

    .box_slider_satu{
        height: 355px !important;
        /* max-width: 793px; */
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box_slider_sub{
        height: 175px;
        /* max-width: 793px; */
        background-repeat: no-repeat;
        background-size: cover;
        align-content: center;
    }

    .header_slider_1{
        padding-right: 1px;
    }

    .header_slider_sub{
        padding-left: 4px;
    }

    .header_slider_2{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 5px;
    }

    .header_slider_3{
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px;
    }
}


@media (min-width: 992.00px)
{
    .container {
        width: 82%;
    }
}

@media (min-width: 1024.00px)
{
    h5{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 19px;
    }

    .title_product{
        margin-top: 10px;
        /* white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
        line-height: 1.5em;
        height: 3em;
        overflow: hidden;
        font-size: medium;
    }
    .price{
        font-size: medium;
        color:red;
    }

    .box_slider_satu{
        height: 405px !important;
        /* max-width: 793px; */
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box_slider_sub{
        height: 200px;
        /* max-width: 793px; */
        background-repeat: no-repeat;
        background-size: cover;
        align-content: center;
    }

    .container {
        width: 82%;
    }
}

@media (min-width: 1200.00px)
{
    .container {
        width: 85%;
    }
}
.background-blue{
    background: #2196f3;
}

.breadcrumb > li + li:before {
    content: ">>";
    padding: 0 5px;
    color: #cccccc;
}
