.subscribe-column{
    width: 460px !important;
}
.youtube-icon{
    font-size: 40px;
    color: red;
    background: #FFFFFF;
    border-radius: 10%;
    margin-left: 10px;
}
.youtube-icon:hover{
    background: red;
    color: #FFFFFF;
}
.facebook-icon{
    font-size: 35px;
    background: #3B5998;
    color: #FFFFFF;
    text-align: center;
    margin-left: 10px;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    padding-left: 15px;
}
.facebook-icon:hover{
    background: #FFFFFF;
    color: #3B5998;
}
.instagram-icon{
    font-size: 40px;
    color: #FFFFFF;
    background: #125688;
    border-radius: 10%;
}
.instagram-icon:hover{
    background: #FFFFFF;
    color: #125688;
}
.second-title{
    margin-top: 20px !important;
}
.bca-logo{
    width: 100px;
    margin-top: -30px;
}
.bri-logo{
    width: 100px;
    margin-top: -30px;
    margin-left: 20px;
}
.permata-logo{
    width: 100px;
    margin-top: 10px;
}
.danamon-logo{
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
}
.copyright{
    padding-top: 40px;
    text-align: left !important;
}
.inno-logo{
    width: 200px;
    height: 80px;
}
.inno-container{
    width: 110px;
    height: 100px;
    margin-right: inherit;
}