/* Custom view in product list /shop */

.product_card{
    padding-right: 5px;
    padding-left: 5px;
}

#products_grid .as-product-list{
    letter-spacing: 0em;
}


div.carousel .carousel-indicators li {
    border-radius: 180px !important;
}
.o_shadow_animation_cart {
    box-shadow:0 0 5px 10px rgba(51, 122, 183, 0.64) !important;
}
/* penambahan media screen untuk fix error pada blog yang muncul cuman satu card di website view */
@media (max-width: 767.00px)
{
    #as-latest_blog-2 .row div:not(:first-child) {
        display: none;
    }
}

.btn.mb32 {
    margin: 0 3px;
}
.mb32 .fa.fa-long-arrow-left {
    display: none;
}

.mb32 .fa.fa-long-arrow-right {
    display: none;
}

@media (max-width: 1024px) {
    .oe_cart .btn.mb32 {
        display: block;
        width: calc(50% - 5px);
        float: left !important;
        margin: 0 2px;
    }
}