/* Custom view in product list /shop */

.product_card{
    padding-right: 5px;
    padding-left: 5px;
}

#products_grid .as-product-list{
    letter-spacing: 0em;
}


div.carousel .carousel-indicators li {
    border-radius: 180px !important;
}

#as-latest_blog-2 .row div:not(:first-child) {
    display: none;
}

.btn.mb32 {
    margin: 0 3px;
}
.mb32 .fa.fa-long-arrow-left {
    display: none;
}

.mb32 .fa.fa-long-arrow-right {
    display: none;
}