/* custom for customize theme product style option 1 */
.as-product .asp-inner .pro-img{
    height: 200px;
    border: none;
}

.as-product .asp-inner .pro-info{
    background: #ffffff;
}

.as-product:hover .asp-inner .pro-action {
    top: 266px;
    bottom: auto;
    position: absolute;
    display: contents;
}

.as-product:hover .asp-inner .pro-img {
    height: 160px;
}

.as-product .asp-inner .pro-img:after {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    content: "";
    width: 100%;
    height: 100%;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.as-product .asp-inner .pro-info h3{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 6px;
    padding: 0 0 10px;
    white-space: pre-wrap;
    width: 100%;
    text-overflow: none;
    border: none;
    height: 2em;
    overflow: hidden;
    margin-top:-10px;
}

.as-product .asp-inner .pro-action {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}